.features {
    padding: 120px 0;
}

.features-title {

}

.features-list {
    display: flex;
    gap: 72px 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.features-item-desc {
    line-height: 1.5;
    color: #434455;
}

