.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    display: block;
    padding: 24px 0;
}

.header-nav {
    margin-right: 15px;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    margin-left: auto;
}

.header-contacts {
    display: flex;
    gap: 40px;
}

.header-contacts-link {
    color: #434455;
    line-height: 1.5;
    display: block;
    padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}