.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
}

.hero-content{
    max-width: 496px;
    margin: 0 auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}